body{
  background-color: rgb(192, 225, 255);
  color:aliceblue;
  font-family: "Poppins";
}

.Weather{
  border: 2px solid rgb(86, 5, 86);
  border-radius: 20px;
  box-shadow: 3px 3px 3px rgb(85, 27, 85);
  margin: 30px 40px;
  background-color: rgb(7, 57, 100);
}

.Weather ul{
  list-style-type: none;
}

.Weather form{
  margin:20px 10px;

}

.Weather h1, .Description{
  color:aliceblue;
  text-align: start;
  margin-left: 20px;;
}

.form-control{
  margin-left:10px;
}

.Details{
  display: flex;
  justify-content: end;
  margin-right: 30px;
}

.Button{
  padding: 10px 24px;
  border-radius: 22px;
  background-color: aliceblue;

}

.phw,.current{
  width:fit-content;
}

.CurrentTemp{
  font-size: 38px;
}

/* Weights: [100,
200,
300,
400,
500,
600,
700,
800,
900] Styles: [italic,
normal] Subsets: [latin,
latin-ext] */
